*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a{
    text-decoration: none;
}

body{
    background: #212121;
}

.center-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px;
    text-align: center;
}

.center-div img{
    border-radius: 50px;
    width: 300px;
    height: 300px;
    margin: 50px;
}

.center-div .openhome{
    outline: none;
    padding: 10px;
    font-size: 50px;
}

.openhome a{
    color: #212121;
    font-weight: 800;
}

.openhome{
    border: none;
    background: #90CAF9;
    transition: background 300ms ease-in-out;
}

.openhome:hover{
    background: #1565C0;
    transition: background 300ms ease-in-out;
}