*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a{
    text-decoration: none;
}

body{
    width: 100%;
    height: auto;
    background: url("/images/background.jpg") center center/cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.layer{
    background-color: rgba(12, 12, 4, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}

.search-bar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.search-bar input{
    outline: none;
    font-size: 30px;
    padding: 10px 120px 10px 10px;
    margin-top: 40px;
    margin-bottom: 50px;
}

.search{
    font-size: 30px;
    background-color: yellow;
    padding: 20px 10px 20px 10px;
    outline: none;
    border: 4px solid slateblue;
    border-radius: 50px;
    margin-left: 30px;
    transition: background-color 300ms ease-in-out;
    
}

.search:hover{
    background-color: cornflowerblue;
    transition: background-color 300ms ease-in-out;
}

.head{
    background-color: #212121;
    text-align: center;
    font-size: 50px;
}
.head h1{
    color: #fff;
}

.main-content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.cards{
    /* border: 2px solid #212121; */
    /* width: 400px; */
    text-align: center;
    transform: translateY(0);
    transition: transform 200ms ease-in-out;
    margin: 20px;
}

.cards:hover{
    transform: translateY(-20px);
    transition: transform 200ms ease-in-out;
}

.cards img{
    /* border: 10px solid black; */
    border-radius: 50px;
    width: 300px;
    height: 400px;
    /* box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1); */
}

.cards:hover img{
    box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
}

.cards h1{
    font-size: 40px;
    margin-bottom: 10px;
    color: #fff;
}

.cards p{
    font-size: 20px;
    margin-top: 10px;
    font-weight: 800;
    color: #fff;
}

.cards .watch{
    margin-top: 10px;
    background: #ffffff;
    padding: 10px 20px 10px 20px;
    outline: none;
    border-radius: 50px;
    color: #000000;
    transition: background 200ms ease-in-out;
}

.cards .watch:hover{
    background: #212121;
    color: white;
    transition: background 200ms ease-in-out;
}

@media(max-width:1000px){
    .main-content{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 5px;
    }

    .search-bar{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
}

@media(max-width:700px){
    .main-content{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 5px;
    }

    .search-bar{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
}


@media(max-width:500px){
    .main-content{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .search-bar{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .search-bar input{
        outline: none;
        font-size: 30px;
        padding: 10px 40px 10px 10px;
        margin-top: 40px;
        margin-bottom: 50px;
    }
    .head{
        font-size: 20px;
    }
}